<p class="announcement-text"><strong>ICMTOD'18</strong> is part of the <strong>3<sup>rd</sup> World Congress on Momentum, Heat and Mass Transfer (MHMT'18)</strong>. 
<a class="body-link" target="_blank" href="https://www.mhmtcongress.com">Congress Website</a> | 
<a class="body-link" target="_blank" href="MHMT18_CFP_Flyer.pdf">Congress Flyer</a></p>

<p class="announcement-text">
  <strong>Poster Board Dimensions:</strong><br>
  Authors presenting via poster boards are to be informed that poster boards are 110 cm height and 70 cm width.
</p>